<div class="container">
  <div class="row">
      <form  [formGroup]="deviceForm" (submit)="createDevices(deviceForm.value)"> 
    <div class="col col-example">
        <label>Type</label>
      <input  placeholder="type" formControlName="type">
    </div>
    <div class="col col-example">
        <label>Name</label>
      <input  placeholder="name" formControlName="name">
    </div>
    <div>
      <button type="submit" [disabled]="deviceForm.value.type === '' && deviceForm.value.name === ''" mat-button color="accent">Save</button>
    </div>
    </form>
  </div>
</div>

